{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
聪明蛋儿的个人学习小站|首页
{% endblock %}

{% block header_extends %}
<link rel="stylesheet" href="{% static 'home.css' %}">
<script src="//cdn.hcharts.cn/highcharts/highcharts.js"></script>
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}

<div id="myCarousel" class="carousel slide hidden-xs">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
		<p style="text-align:center"> <img src="/static/images/1.jpg" alt="First slide" clsss="img-responsive"></p>
            <div class="carousel-caption">
                <p>
                    <font size="6" face="华文行楷" color="#5bc0de">优秀的判断力来自经验，但经验来自错误的判断</font><br>
                </p>
                <button type="button" class="btn btn-info"><a style="color:#000" href="{% url 'blog_list' %}">开启博客之旅</a></button>
            </div>
        </div>
        <div class="item">
		<p style="text-align:center"> <img src="/static/images/4.jpg" alt="Second slide"></p>
            <div class="carousel-caption">
                <p>
                    <font size="6" face="华文行楷" color="#5cb85c">我不是一个伟大的程序员，我只是一个具有良好习惯的优秀程序员</font><br>
                </p>
                <button type="button" class="btn btn-success"><a style="color:#000" href="{% url 'blog_list' %}">开启博客之旅</a></button>
            </div>
        </div>
        <div class="item">
		<p style="text-align:center"> <img src="/static/images/4.png" alt="Third slide"></p>
            <div class="carousel-caption">
                <p>
                    <font size="6" face="华文行楷" color="#337ab7">你们中大多数人都熟悉程序员的美德，有三种：那就是懒惰、急躁和傲慢</font><br>
                </p>
                <button type="button" class="btn btn-primary"><a style="color:#000" href="{% url 'blog_list' %}">开启博客之旅</a></button>
            </div>

        </div>
    </div>
    <!-- 轮播（Carousel）导航 -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<!-- 热门内容 DOM -->
<div class="row clearfix">
    <div class="col-md-4 column" style="background:#eef;min-height:340px">
        <h2 style="text-align:center">
            今天热门博客
        </h2>
        <div class="hot-data">
            <ul>
                {% for hot_data in today_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})
                </li>
                {% empty %}
                <li>今天暂时没有热门博客</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="col-md-4 column" style="background:#ede;min-height:340px">
        <!-- 图表容器 DOM
        <h2>昨天热门博客</h2>
        <div class="hot-data">
            <ul>
                {% for hot_data in yesterday_hot_data %}
                <li><a href="{% url 'blog_detail' hot_data.content_object.pk %}">{{ hot_data.content_object.title }}</a>({{ hot_data.read_num }})
                </li>
                {% empty %}
                <li>昨天暂时没有热门博客</li>
                {% endfor %}
            </ul>
        </div>
        -->
        <h2 style="text-align:center">前七日阅读量变化</h2>
        <!-- 图表容器 DOM -->
        <div id="container"></div>
    </div>
    <div class="col-md-4 column" style="background:#eed;min-height:340px">
        <h2 style="text-align:center">
            30天热门博客
        </h2>
        <div class="hot-data">
            <ul>
                {% for hot_blog in hot_blogs_for_7_days %}
                <li><a href="{% url 'blog_detail' hot_blog.id %}">{{ hot_blog.title }}</a>({{ hot_blog.read_num_sum }})
                </li>
                {% empty %}
                <li>昨天暂时没有热门博客</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>

<!-- 中间部分 -->

<script>
        // 图表配置
        var options = {
            chart: { type: 'line' },
            title: { text: null },
            xAxis: {
                categories: {{ dates|safe }},   // x 轴分类
                tickmarkPlacement: 'on',
                title: { text: '前7日阅读量变化'},
            },
            yAxis: {
                title: { text: null },
                labels:{ enabled: false },
                gridLineColor: '#ede',
            },
            series: [{                              // 数据列
                name: '阅读量',                     // 数据列名
                data: {{ read_nums }}               // 数据
            }],
            plotOptions: {
                line: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },
shadow: {
  color: 'yellow',
  width: 10,
  offsetX: 0,
  offsetY: 0
},
chart: {
  backgroundColor: null
},
            legend: { enabled: false },
            credits: { enabled: false },
        };
        // 图表初始化函数
        var chart = Highcharts.chart('container', options);


</script>

{% endblock %}
